.app {
    --blue: #132034;
    --background-color: #F5F5F5;
    display: flex;
    height: 100vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.container {
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}

h5 {
    color: #525252;
}

form {
    margin: 20px;
}

form p {
    font-size: 18px;
    letter-spacing: 0.1em;
}