.sidebar {
    border-right: 1px solid var(--blue);
    background-color: #132034;
    /* flex: 0.3; */
    min-width: 269px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    overflow-y: scroll;
}

.sidebar-contents {
    display: flex;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* --- SideBar active effect --- */
.sidebar-contents-active {
    color: #ffffff;
    background-color: #FFFFFF26;
    border-radius: 10px;
    padding: 20px;
    transition: 400ms ease-out;
}

/* --- SideBar hover effect --- */
.sidebar-contents:hover {
    color: #ffffff;
    background-color: #FFFFFF26;
    border-radius: 10px;
    padding: 20px;
    transition: 400ms ease-out;
}


.sidebar-contents p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0em;
    margin-left: 15px;
}

/* --- Logout Button --- */
.sidebar-contents:last-child {
    font-weight: 700;
    position: absolute;
    bottom: 0;
    padding: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
}