.sidebar {
  background-color: #132034; /* Background color */
  color: white; /* Text color */
  height: calc(100vh - 70px); /* Set height to 100% of viewport height minus 70px (for example) */
  width: 269px; /* Set the width to your desired value */
  position: fixed; /* Fix the sidebar position */
  top: 70px; /* Set the top position to leave space for a fixed top navigation bar (adjust as needed) */
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}

.sidebar-link {
  color: white; /* Text color for links */
  padding: 10px 20px; /* Add padding to create space around the links */
  display: block; /* Make the links block-level elements */
}

.sidebar-link:hover {
  color: #F5F5F5; /* Text color on hover */
}

.sidebar-icon {
  color: white; /* Icon color */
  margin-right: 10px; /* Add margin to separate the icon from the text */
}

.sidebar-text {
  margin-left: 10px; /* Add spacing between icon and text */
}

.logout-link {
  position: absolute; /* Position the logout link at the bottom of the sidebar */
  bottom: 20px; /* Adjust the bottom position as needed */
  left: 20px; /* Adjust the left position as needed */
}
